[Unit]
Description=Neon Beat Backend daemon
After=network.target
Wants=network.target

[Service]
Type=simple
Environment=COUCH_USERNAME=admin
Environment=COUCH_PASSWORD=admin
Environment=COUCH_BASE_URL=http://localhost:5984
Environment=COUCH_DB=game
Restart=always
RestartSec=5s
ExecStart=/bin/neon-beat-back

[Install]
WantedBy=multi-user.target
