[Unit]
Description=Neon Beat buzzers DHCP server
BindsTo=sys-subsystem-net-devices-nb0.device
After=sys-subsystem-net-devices-nb0.device

[Service]
Type=forking
PIDFile=/run/dnsmasq.pid
ExecStart=/sbin/dnsmasq -C /etc/dnsmasq/dnsmasq.conf -x /run/dnsmasq.pid

[Install]
WantedBy=multi-user.target
