[Unit]
Description=Neon Beat Frontend server
After=network.target
Wants=network.target

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/sbin/lighttpd /srv/www

[Install]
WantedBy=multi-user.target
